---
Astro.response.headers.set('Cache-Control', 's-maxage=10, stale-while-revalidate');
const time = new Date().toLocaleTimeString();
---

<!DOCTYPE html>
<html>
<head>
  <meta name="robots" content="noindex,nofollow" />
</head>
<body>
<h1>{time}</h1>
</body>
</html>
