---
export const prerender = false;
const time = new Date().toLocaleTimeString();
---

<!DOCTYPE html>
<html>
<head>
  <meta name="robots" content="noindex,nofollow" />
</head>
<body>
<h1>{time}</h1>
</body>
</html>
