---
// Hero Section Component
import { Image } from 'astro:assets';
import principalImage from '../../public/cdmx.webp';
---

<section id="inicio" class="h-screen md:h-screen bg-gradient-to-r from-rp-blue to-rp-light-blue text-white relative overflow-hidden isolate">
  <!-- Imagen 30 años en esquina superior derecha -->

  
  <div class="container mx-auto px-4 py-10 h-full relative z-20">
    <!-- Desktop Layout -->
    <div class="hidden md:flex items-center h-full">
      <div class="grid md:grid-cols-2 gap-12 items-center w-full h-full">
        <div class="flex flex-col justify-center relative z-20">
            <h1 class="md:text-6xl font-bold leading-tight">
            ¡Somos Asesores Certificados en <span class="text-rp-orange">Seguros Monterrey!</span>
            </h1>
            <p class="text-xl mb-4 md:leading-none  ">Expertos en protección y tranquilidad para ti y tu familia</p>
            <a href="https://api.whatsapp.com/send/?phone=524461354113" target="_blank" class="relative z-20 bg-rp-white text-rp-blue px-8 py-4 rounded-full text-lg font-semibold hover:bg-rp-orange hover:text-white transition duration-300 w-fit inline-block text-center">
            ¿Necesitas asesoría? ¡Hablemos!
            </a>
          </div>
      </div>
    </div>
    
    <!-- Imagen desktop posicionada absolutamente en la esquina inferior derecha -->
    <div class="hidden md:block absolute bottom-0 right-0 z-0 pointer-events-none">
      <Image 
        src={principalImage} 
        alt="Familia protegida" 
        class="h-screen w-auto object-contain object-bottom" 
        width={500}
        height={650}
        format="webp"
        loading="eager"
        quality={100}
      />
    </div>

    <!-- Mobile Layout -->
    <div class="md:hidden flex flex-col h-full relative z-20">
      <div class="flex flex-col justify-start pt-24 sm:pt-28 pb-4 relative z-20 px-2">
        <h1 class="text-3xl font-bold mb-4 ">
          ¡Somos Asesores Certificados en <span class="text-rp-orange">Seguros Monterrey</span>!
        </h1>
        <p class="text-xl mb-6">Expertos en protección y tranquilidad para ti y tu familia</p>
        <a href="https://api.whatsapp.com/send/?phone=524461354113" target="_blank" class="relative z-20 bg-rp-white text-rp-blue px-8 py-4 rounded-full text-lg font-semibold hover:bg-rp-orange hover:text-white transition duration-300 w-fit inline-block text-center">
          ¿Necesitas asesoría? ¡Hablemos!
        </a>
      </div>
    </div>
  </div>
  <!-- Imagen móvil posicionada absolutamente pegada al borde inferior -->
  <div class="md:hidden absolute bottom-0 right-0 z-0 pointer-events-none">
      <Image 
        src={principalImage} 
        alt="asesores certificados" 
        class="h-[50vh] w-auto object-contain object-bottom" 
        width={300}
        height={400}
        format="webp"
        loading="eager"
        quality={85}
      />
  </div>
</section>
