---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Contact from '../../components/Contact.astro';

const pageTitle = "Seguros de Vida - Protege el futuro de tus seres queridos | RP Seguros";
const pageDescription = "Protege el futuro de tus seres queridos con nuestros seguros de vida. Imagina Ser, Orvi, Nuevo Plenitud, Objetivo Vida, Realiza y más opciones para ti.";
---

<Layout title={pageTitle} description={pageDescription}>
  <Header />
  
  <main class="pt-20">
    <!-- Hero Section -->
    <section class="h-screen text-white py-20">
      <div class="absolute inset-0 b  g-black opacity-40"></div>
      <div class="absolute inset-0 bg-cover bg-center bg-no-repeat" style="background-image: url('/planes/nuevo plenitud/5.webp')"></div>
      <div class="container mx-auto px-4 relative z-10">
      <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-5xl font-bold mb-6 mt-40">Seguros de Vida</h1>
        
        <a href="#productos" class="bg-white text-indigo-600 px-8 py-3 rounded-lg font-semibold hover:bg-gray-100 transition-colors">
        Ver Nuestros Productos
        </a>
      </div>
      </div>
    </section>

      

          <section id="contacto" class="bg-white"><Contact /></section>

  </main>

  <Footer />
</Layout>
